<% if flash[:notice] %>
<h2> <%= flash[:notice]%> </h2>
<%end%>
<h1>Login</h1>
<form action='/access/authenticate' method="getx">
    <input type="text" name="userid"><br>
    <input type="password" name="password"><br>
    <input type="submit" value="Login">
</form>

<h1>
<a href="/access/new"> Not a user? Sign up here!</a>
</h1>